h3 {
    color: black;
}

#contact-page {
    width: 100%;
}

.contact-heading {
    justify-content: center;
    position: absolute;
    width: 100%;
}

.contact-banner {
    height: 50vh;
    display: flex;
    align-items: center;
}

.contact-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-form {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.message-heading {
    text-align: center;
}

#send-msg-btn {
    background-color: purple;
    border: none;
    outline: none;
}

#send-msg-btn:focus {
    background-color: indigo;
    outline: none;
}

#send-msg-btn:active {
    background-color: indigo !important;
    outline: none;
}

#send-msg-btn:hover {
    background-color: darkviolet;
}