#footer-container {
    height: 150px;
}

.social-container {
    display: inline-flex;
}

.social-container a {
    margin: 20px;
}

.social-container img {
    width: 32px;
    height: 32px;
    margin: auto;
}