.searchBar .modal-dialog{
    margin: 0;
    width: 100% !important;
    max-width: none;
}

.searchBar .modal-header{
    align-self: center;
    width: 80%;
}

.searchBar .modal-header .close {
    margin-left: 0;
    margin-right: auto;
}

.search-field {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.search-field img {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    position: absolute;
    align-self: center;
}

.search-field img:hover {
    cursor: pointer;
}

.search-field .form-control {
    border-radius: 20px;
}

.top-container {
    display: flex;
    background-color: white;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.logo img{
    width: 100px;
}

.top-items {
    display: flex;
    align-self: center;
    margin-right: 10px;
    margin-left: auto;
}

.top-items div {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-items div:hover {
    cursor: pointer;
}

.top-items img {
    height: 32px;
    width: 32px;
    margin: auto;
}

.search {
    font-size: 18px;
}

.search img {
    display: block;
}

#account-enabler {

}

#account-enabler .dropdown-toggle {
    padding: 0;
    background-color: transparent;
    color: unset;
    border: none;
}

#account-enabler .dropdown-toggle:active {
    background-color: transparent !important;
    color: unset;
}

#account-enabler .dropdown-toggle::after {
    display: none;
}

#account-enabler .dropdown-menu {
    cursor: default;
}

.account {
    font-size: 18px;
    margin: 0 !important;
}

.account img {
    display: block;
}

.signin-stub {
    width: max-content;
}

.signin-stub .form-label {
    float: left;
}

.signin-stub .form-control {
    border-radius: 20px;
}

.login-btn {
    background-color: green !important;
    color: white;
    border-radius: 20px;
    width: 90%;
}

.login-btn:active {
    background-color: darkgreen !important;
}

.cart {
    font-size: 18px;
}

.cart img {
    display: block;
}

.modal.fade #shopping-cart.modal-dialog {
    width: 100%;
    height: 100%;
    float: right;
    margin: 0;
}

#shopping-cart .modal-content {
    height: 100%;
    text-align: center;
}

#shopping-cart .modal-header {
    border: none;
}

#shopping-cart .modal-footer {
    border: none;
    text-align: center;
}

.nav-container {
    background-color: white;
    border-top: black;
    border-bottom: black;
    border-style:  solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    
}

#basic-navbar-nav {
    justify-content: center;
}

.navbar-nav a {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 24px;
}

#occasions {
    width: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

#occasions-lists {
    display: flex;
    padding: 20px 100px;
    transition: ease-in-out .3s;
}

#occasions-lists ul {
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
}

#occasions-lists li a {
    color: navy;
}