header {
    width: 100%;
    z-index: 100;
}

.nav-link a:hover .dropdown-menu {
    display: block;
}


.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    text-align: center;
}

.home-logo {
    width: 100px;
}

.nav-container {
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav-item {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    font-size: 30px;
    color: black;
}