.shop-banner {
    height: 50vh;
    display: flex;
    align-items: center;
}

.shop-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop-heading {
    justify-content: center;
    position: absolute;
    width: 100%;
}